div.maindiv {
    text-align: center;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 100%;
    width: 50%;
    background-image: linear-gradient(brown, cyan);
}

button:hover {
    background-image: linear-gradient(yellow, blue);
}

span {
    text-decoration: underline;
}

ul {
    border-radius: 12px;
    border-color: #BBC8CE;
    border-block-style: inherit;
    border-width: thick;
    background-color: gold;
    list-style-type: none;
    width: 10em;
    padding: 1px;
}

ul:hover {
    background-color: aqua;
}

input[type=text] {
    width: 50%;
    padding: 1px 2px;
    margin: 8px 0;
    background-color: #BBC8CE;
}

form {
    background-color: #d8fdff;
    border-radius: 1%;
    text-align: left;
    width: 100%;
    font-size: x-large;
}

form:hover {
    /*   background-color: #ffd8f7;*/
    background-image: linear-gradient(rgb(255, 81, 0), rgb(140, 0, 255));
    border-radius: 75%;
    width: 80%;
    text-align: center;
}
.pdfbutton {
    color: darkorange;
    font-size: 40px;
    padding: 16px 30px;
    border: 3px solid red;
    border-radius: 50px;
    cursor: pointer;
    margin: 4px 2px;
    background-image: linear-gradient(brown, blue);
}

.pdfbutton:hover {
    background-image: none;
    background-color: #45a049;
}